
header {
    position: relative;
    background-color: black;
    height: 0vh;
    min-height: ovh;
    width: 100%;
    overflow: hidden;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
  }
  
  @media (pointer: coarse) and (hover: none) {
    header {
      background: url('https://source.unsplash.com/XT5OInaElMw/1600x900') black no-repeat center center scroll;
    }
    header video {
      display: none;
    }
  }
  
  * ==========================================
  * CUSTOM UTIL CLASSES
  * ==========================================
  *
  */
  .navbar {
      transition: all 0.4s;
  }
  
  .navbar .nav-link {
      color:black;
  }
  
  .navbar .nav-link:hover,
  .navbar .nav-link:focus {
      color:rgba(24, 134, 134, 0.911);
      text-decoration: none;
  }
  
  .navbar .navbar-brand {
      color: #fff;
  }
  
  
  /* Change navbar styling on scroll */
  .navbar.active {
      background:  rgba(255, 255, 255, 0.733);
      box-shadow: 1px 2px 10px rgba(12, 12, 12, 0.959);
      
  }
  
  
  .navbar.active .nav-link {
      color: rgb(36, 36, 36);
  }
  
  .navbar.active .nav-link:hover,
  .navbar.active .nav-link:focus {
      color: #555;
      text-decoration: none;
  }
  
  .navbar.active .navbar-brand {
      color: #555;
  }
  
  #mainNav {
      text-align: center;
      ;
  }
  
  
  /* Change navbar styling on small viewports */
  @media (max-width: 991.98px) {
      .navbar {
          background:  rgba(255, 255, 255, 0.39);
      }
  
      .navbar .navbar-brand, .navbar .nav-link {
          color: rgb(22, 22, 22);
      }
  }
  
  hr.hr1{
      border-top: 3px solid #555;
  }
  


  /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/
.login,
.image {
  min-height: 110vh;
}

.bg-image {
  background-image: url('./img/pic1.jpg');
  background-size: cover;
  background-position: center center;
}
hr.hr1{
    border-top: 2px dashed #999;
}


.border-md {
    border-width: 2px;
}

.btn-facebook {
    background: #405D9D;
    border: none;
}

.btn-facebook:hover, .btn-facebook:focus {
    background: #314879;
}

.btn-twitter {
    background: #42AEEC;
    border: none;
}

.btn-twitter:hover, .btn-twitter:focus {
    background: #1799e4;
}



/*
*
* ==========================================
* FOR DEMO PURPOSES
* ==========================================
*
*/

body {
    min-height: 80vh;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}
.form-control:focus {
    box-shadow: none;
}

